*~
/node_modules
/*.csv

/*.json
!/package.json
!/package-lock.json

/networks/*
!/networks/arbitrum.json
!/networks/avalanche.json
!/networks/bnb.json
!/networks/ethereum.json
!/networks/fantom.json
!/networks/gnosis.json
!/networks/goerli.json
!/networks/metis.json
!/networks/milkomeda.json
!/networks/moonbeam.json
!/networks/moonriver.json
!/networks/optimism.json
!/networks/polygon.json
!/networks/rinkeby.json
!/networks/ropsten.json
!/networks/rsk.json
